<div>
  <label for="customerEmail">Customer Email</label><br />
  <input
    type="text"
    id="customerEmail"
    required
    [(ngModel)]="returnRequestData.customerEmail"
    name="customerEmail"
  />
</div>

<br />
<div>
  <label for="customerFullName">Customer Fullname</label><br />
  <input
    type="text"
    id="customerFullName"
    required
    [(ngModel)]="returnRequestData.customerFullName"
    name="customerFullName"
  />
</div>

<br />
<app-device></app-device>

<br />
<button (click)="onSubmit()">Submit</button>
